---
# Main Sass file
---

// Colors
$primary-color: #161B3D;
$secondary-color: #ffdd1a;
$alternate-color: #015843;

// Default spacing unit
$spacer: 20px;

// Special Characters
$bullet-character: "\27A4"; // Black rightwards arrowhead
$bullet-character-sub: "\27A2";
// $bullet-character: "\272A"; // Circled star
// $bullet-character: "\";
// $bullet-character: "\";
$left-bracket: "\2770";
$right-bracket: "\2771";


body {
    min-width: 320px;
}

// Import all partials from _sass
@import
    'reset',
    'layout',
    'typography',
    'header',
    'footer',
    'resume'
;
