<h3 class="section-title">Skills & Experience</h3>
<div>
    <ul class="skills col1">
        {% for skill in site.data.skills %}
        {% if forloop.index0 <= forloop.rindex0 %}
        <li>
            {{ skill.skill }}
            {% if skill.subitems %}
            <ul class="subitems">
                {% for subitem in skill.subitems %}
                <li>{{ subitem.item }}
                    {% if subitem.alt %}
                    <span class="subdued">({{ subitem.alt }})</span>
                    <div style="clear: both"></div>
                    {% endif %}
                </li>
                {% endfor %}
            </ul>
            {% endif %}
        </li>
        {% endif %}
        {% endfor %}
    </ul>
    <ul class="skills col2">
        {% for skill in site.data.skills %}
        {% if forloop.index0 > forloop.rindex0 %}
        <li>
            {{ skill.skill }}
            {% if skill.subitems %}
            <ul class="subitems">
                {% for subitem in skill.subitems %}
                <li>{{ subitem.item }}
                    {% if subitem.alt %}
                    <span class="subdued">({{ subitem.alt }})</span>
                    <div style="clear: both"></div>
                    {% endif %}
                </li>
                {% endfor %}
            </ul>
            {% endif %}
        </li>
        {% endif %}
        {% endfor %}
    </ul>
</div>

<div style="clear: both;"></div>

<h3 class="section-title">Education</h3>
<ul class="education">
    {% for school in site.data.education %}
    <li>
        <p class="school degree">{{ school.degree }}<span>{{ school.gpa }} GPA</span></p>
        <p class="school">{{ school.school }}, {{ school.location }}
            {% if school.other %} - <i>{{ school.other }}</i>{% endif %}
            <span>{{ school.graduation }}</span>
        </p>
    </li>
    {% endfor %}
</ul>

<div style="clear: both;"></div>

<h3 class="section-title">Employment</h3>
<dl class="experience">
    {% for job in site.data.jobs %}
    <dt>
        {{ job.dates }}
    </dt><!--
        --><dd>
    <p>{{ job.title }}<span>{{ job.company }}, {{ job.location }}</span></p>
</dd>
    {% endfor %}
</dl>

<h3 class="section-title">Clubs & Activities</h3>
<ul class="activities col1">
    {% for activity in site.data.activities %}
    {% if forloop.index0 <= forloop.rindex0 %}
    <li>
        {{ activity.activity }}
        {% if activity.subitems %}
        <ul class="subitems">
            {% for subitem in activity.subitems %}
            <li>{{ subitem }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    </li>
    {% endif %}
    {% endfor %}
</ul>
<ul class="activities col2">
    {% for activity in site.data.activities %}
    {% if forloop.index0 > forloop.rindex0 %}
    <li>
        {{ activity.activity }}
        {% if activity.subitems %}
        <ul class="subitems">
            {% for subitem in activity.subitems %}
            <li>{{ subitem }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    </li>
    {% endif %}
    {% endfor %}
</ul>

<div style="clear: both;"></div>
