<h3 class="section-title">Experience</h3>
<dl class="experience">
    {% for job in site.data.jobs %}
    <dt>
    {{ job.dates }}
    </dt><!--
        --><dd>
    <p>{{ job.title }}<span>{{ job.company }}, {{ job.location }}</span></p>
    </dd>
    {% endfor %}
</dl>

<h3 class="section-title">Education</h3>
<ul class="education">
    {% for school in site.data.education %}
    <li>
        <p class="school degree">{{ school.degree }}<span>{{ school.gpa }} GPA</span></p>
        <p class="school">{{ school.school }}, {{ school.location }}
            {% if school.other %} - <i>{{ school.other }}</i>{% endif %}
            <span>{{ school.graduation }}</span>
        </p>
    </li>
    {% endfor %}
</ul>
