// @name Footer
// @description All footer styles

.footer {
    margin-top: ($spacer * 6);
    padding: ($spacer * 2) $spacer;
    text-align: center;
    background-color: $primary-color;
    color: white;
    border-top: 1px solid #edefee;

    &__title {
        font-size: 1.2rem;
        font-weight: bold;
    }

    &__subtitle {
        text-transform: capitalize;
        color: $secondary-color;
    }

    .social {
        text-align: center;
        padding-left: ($spacer * 3.5);
        margin-top: ($spacer / 2);
        a {
            top: 0;
            color: white;
            &:before, &:after {
                color: $alternate-color;
            }
        }
    }
}
