// @name Resume
// @description All resume styles

dl {
    margin-bottom: $spacer;
}

dt, dd {
    display: inline-block;
    vertical-align: top;
    margin-bottom: $spacer;
}

.col1, .col2 {
    display: inline-block;
}

.activities, .skills {
    margin-left: $spacer;
    li {
        margin-bottom: ($spacer / 2);
        padding-left: ($spacer / 2);
        list-style: disc outside;
    }
}

.subitems {
    margin-left: $spacer;
    li {
        margin-bottom: 0;
        padding-left: ($spacer / 2);
        list-style: circle outside;
        span.subdued {
            float: right;
        }
    }
}

.subdued {
    font-size: small;
    color: gray;
    word-break: keep-all;
}

.education {
    li {
        margin-left: $spacer;
        margin-bottom: $spacer;
    }
}

.school {
    margin-left: $spacer;
    &.degree {
        margin: 0;
        font-weight: bold;
        font-size: 1.2rem;
        span {
            margin-left: $spacer;
        }
    }
    span {
        display: block;
        font-weight: normal;
        //float: right;
    }
}

a {
    color: black;

    &:hover {
        color: $primary-color;
        text-decoration: none;
    }
}

.emphasis {
    color: $primary-color;
}

.hide-mobile {
    display: none;
}

.hide-desktop, .hide-780plus {
    display: inline;
}

// MEDIA QUERIES (Mobile-first approach)

@media(min-width: 640px) {
    dt, dd, li {
        margin-bottom: 60px;
    }

    .hide-mobile {
        display: inline;
    }

    .hide-desktop {
        display: none;
    }

    .col1 {
        float: left;
        margin-right: 4%;
    }

    .col1, .col2 {
        width: 44%;
    }

    .activities, .skills {
        //margin-left: 0;
    }

    .experience {
        dt {
            width: 30%;
            padding-right: ($spacer * 2);
        }
        dd {
            width: 70%;
        }
    }

    .education {
        li {
            margin-left: 0;
            margin-bottom: ($spacer * 2);
        }
        span {
            display: inline-block;
            float: right;
        }
    }

    .school {
        margin-left: 0;
    }
}

@media(min-width: 780px) {
    .hide-780plus {
        display: none;
    }

    .col1, .col2 {
        width: 48%;
    }

    .activities, .skills {
        margin-left: 0;
    }
}
